#slider {
  overflow: hidden;
}
#polosa {
  background: pink;
  width: 5000px;
  min-width: 200px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
#polosa img {
  float: left;
}
#polosa::after {
  content: "";
  display: block;
  clear: both;
}
