.carousel_vertical {
  max-height: 700px;
  overflow: hidden;
}
.carousel_vertical_line {
  hidden: 5000px;
  min-width: 200px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.carousel_vertical_line_elements::after {
  content: "";
  display: block;
  clear: both;
}
