.carousel_vertical {
  max-height: 50em;
  overflow: hidden;
  background-color: #1C1F2B;
  border: 1px solid;
}
.carousel_vertical_line {
  hidden: 5000px;
  min-width: 200px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.carousel_vertical_line_elements::after {
  content: "";
  display: block;
  clear: both;
}
.carousel_vertical_line_element {
  background-color: #1C1F2B;
  margin-bottom: 1em;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel_vertical_line_element-name {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.carousel_vertical .carousel-control {
  width: 3.5em;
  filter: none;
  opacity: 1;
  text-shadow: none;
}
.carousel_vertical .carousel-control:hover {
  filter: none;
  opacity: 1;
  text-shadow: none;
}
.carousel_vertical .carousel-control .buttonSettings {
  background-image: none;
  position: inherit;
  color: #2196f3;
}
.carousel_vertical .carousel-control .buttonSettings_glyphicon_chevron {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
@media (min-width: 768px) {
  .carousel_vertical .carousel-control .buttonSettings_glyphicon_chevron {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    width: 50px;
  }
}
.carousel_vertical .carousel-control_right {
  background-image: none;
  position: inherit;
  color: #2196f3;
  margin: 1em;
}
.carousel_vertical .carousel-control_right_glyphicon_chevron {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
@media (min-width: 768px) {
  .carousel_vertical .carousel-control_right_glyphicon_chevron {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    width: 50px;
  }
}
.carousel_vertical .carousel-control_left {
  background-image: none;
  position: inherit;
  color: #2196f3;
  margin: 1em;
}
.carousel_vertical .carousel-control_left_glyphicon_chevron {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
@media (min-width: 768px) {
  .carousel_vertical .carousel-control_left_glyphicon_chevron {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    width: 50px;
  }
}
.control_position {
  justify-content: space-between;
  display: flex;
}
